/*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
@media (max-width : 1200px)

    .header__wrapper
        margin: 130px auto 0
    .footer__wrapper
        flex-direction: column
        align-items: center



@media (max-width : 1100px)
    .header__pic
        right: calc(200px + 0.5 * (100% - 900px))
        width: 445px
    .main__pic
        left: calc(155px + 0.5 * (100% - 900px))
        width: 574px
    .header__wrapper 
        margin: 50px auto 0;

    .header__left
        display flex
        flex-direction: column
        align-items: left
        justify-content: center
        width: 100%
        margin auto
        max-width: 430px

    .header__title
        margin 0 auto 10px 0
        font-size 38px
        line-height 45px

    .header__desc
        margin 0 auto 25px

    .main__title
        margin: 0 auto 30px
        max-width: none
        font-size 38px
        line-height 45px
    
    .main__right
        display flex
        flex-direction: column
        align-items: center
        justify-content: left
        max-width: 430px
        margin auto

    .header
        padding-top: 55px
    .header__logo
        display block
        margin: auto
        max-width: 160px
    .header__wrapper
        flex-direction: column
        padding-bottom 440px
    .main__desc
        margin: auto
        max-width: none
    .main__items
        flex-direction: column
        align-items: center
        padding: 100px 0 644px 0
    .footer
        padding: 80px 0 80px 0

@media (max-width : 768px)


    .header__wrapper 
        margin: 50px auto 0;

    .header__left
        display flex
        flex-direction: column
        align-items: left
        justify-content: center
        width: 100%
        margin auto
        max-width: 430px

    .header__title
        margin 0 auto 10px 0
        font-size 38px
        line-height 45px

    .header__desc
        margin 0 auto 25px

    .main__title
        margin: 0 auto 30px
        max-width: none
        font-size 38px
        line-height 45px
    
    .main__right
        display flex
        flex-direction: column
        align-items: center
        justify-content: left
        max-width: 430px
        margin auto

    .header
        padding-top: 55px
    .header__logo
        display block
        margin: auto
        max-width: 160px
    .header__wrapper
        flex-direction: column
    .main__desc
        margin: auto
        max-width: none
    .main__items
        flex-direction: column
        align-items: center


    .footer
        padding: 80px 0 80px 0

@media (max-width : 480px)
    .header__button
        font-size: 17px;
        line-height: 17px;

    .header__button-span
            font-size: 17px;
            line-height: 17px;
    .header
        overflow: hidden
    .header__title
        font-size: 31px;
        line-height: 33px;
        margin 0 auto 10px


    .header__desc
        font-size: 14px;
        line-height: 18px;
        margin-bottom 25px
        max-width: 278px
    .main__title
        max-width: 280px
        font-size: 35px;
        line-height: 35px;
        margin-bottom 15px


    .main__desc
        font-size: 14px;
        line-height: 18px;
        max-width 280px
    .main__right
        justify-content: center
        align-items: center
        position relative
        z-index -1

    .main
        overflow: hidden

    .footer
        padding 50px 0 50px 0
    .footer__wrapper
        margin: 0 auto 50px;
    .footer__title
        margin-top 50px
        font-size: 35px;
        line-height: 35px;
        margin-bottom 0





@media (max-width : 320px)

    .footer__item-title
        font-size 20px
    .footer__item
        width: 300px
    .header__desc
        max-width: 218px


    .header__title
        font-size 25px

        
    .main__title, .footer__title
        font-size 25px