.header
	padding: 50px 0 0 0
	background: #E5EFF1
	&__title
		font-weight: 700;
		font-size: 55px;
		line-height: 65px;
		text-align: left;
		letter-spacing: -1.69231px;
		color: #2C2C2E;
		margin-bottom 20px
		max-width: none
		text-align center
		perspective: 600px
		transform-style: preserve-3d
		&-span
			display block
			text-align: left
	

	&__desc
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		letter-spacing: -0.5px;
		color: rgba(44, 44, 46, .5);
		margin-bottom 40px
		max-width: none
	&__button
		padding: 5px 14px 5px 15px
		background-color: inherit
		border-radius: 19px;
		border: none
		margin-bottom 5px
		&-span
			font-weight: 700;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			letter-spacing: -0.5px;
			color: #2C2C2E;
			cursor: text
			display block
			margin-bottom 10px
	&__soon
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: -0.5px;
		color: #2C2C2E;
		display block
		text-align center

	&__wrapper
		display flex
		justify-content: space-between
		margin: 114px auto 0
		padding-bottom 145px
		max-width: 1190px
	&__pic
		max-width: 618px
		position absolute
		bottom 0
		right: 10px
		width: 42vw
		
	&__left
		max-width: 550px
	&__logo
		display block
		max-width: 192px
		img
			transform: scale(1.2)








