m-font-face( $font-family = "ProximaNova", $file-path = "", $local-name = "", $weight, $style = normal) {
	@font-face {
		font-family: $font-family;
		src: url($file-path + '.eot');
		src: local($local-name),
			 url($file-path + '.eot?#iefix') format('embedded-opentype'),
			 url($file-path + '.woff2') format('woff2'),
			 url($file-path + '.woff') format('woff'),
			 url($file-path + '.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}


m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Black", "ProximaNova Regular", 900);
m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Bold", "ProximaNova Regular", 700);
// m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-BoldIt", "ProximaNova Regular", 400);
m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Light", "ProximaNova Regular", 300);
// m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-LightIt", "ProximaNova Regular", 300);
m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Reg", "ProximaNova Regular", 400);
// m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-RegIt", "ProximaNova Regular", 400);
m-font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Xbold", "ProximaNova Regular", 800);
